.navbar-ul li  a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  padding: 10px 20px;
  margin: 0 5px;
}

@media (max-width: 846px){
  .navbar-ul {
    display: none;
  }
}
